VITE_SUPABASE_URL=https://cmldxjlbxtcfmhzfvnyd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbGR4amxieHRjZm1oemZ2bnlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MjUxMjIsImV4cCI6MjA5MzQwMTEyMn0.ESQewicg6lxkO3IbTkTwchtuqaVX2pH6rK-JwaUBacs
